.cartItem {
  .ant-card-body {
    display: flex;
    flex-direction: row;
    .productInfo {
      flex: 1;
    }
    .inputBlock {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex: auto;
      // width: 100%;
      .quantity {
        display: flex;
        // flex: auto;
        justify-content: flex-end;
        height: 40px;
        width: 50px;
      }
      .pricing {
        justify-content: flex-end;
        display: flex;
        // flex: auto;
      }
    }
  }
}
