.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .title {
    font-size: 18px;
  }

  .cartItems {
    flex: 1 1 auto;
    margin-right: 1%;
  }

  .customerInfo {
    flex: 1 1 auto;
  }
}