@primary-color: #e5704b;
@link-color: #e5704b;

.ant-layout {
  background: #fff;
  &-header {
    background-color: #fff;
  }
  &-background {
    background: #fff;
  }
  &-footer {
    background: #fff;
  }

  .topMenu {
    // background: #f0f2f5;
  }

  .layoutContent {
    display: flex;
    flex-direction: initial;
  }
}

.template-layout {
  &-mobile {

    .ant-layout {
      &-footer {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }
    }
  }
}

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.container {
  padding: '0 50px';
}