@primary-color: #e5704b;
@link-color: #e5704b;

.ant-layout {
  background: transparent;
  &-header {
    background-color: transparent !important;
    padding: 0 5rem;
    // line-height: unset !important;
  }
  &-content {
    background-color: transparent;
    padding: 0 5rem;
  }
  &-background {
    background: transparent;
  }
  &-footer {
    background: transparent !important;
  }

  .topMenu {
    // background: #f0f2f5;
  }

  .layoutContent {
    display: flex;
    flex-direction: initial;
    background: unset;
  }

  
}

.template-layout {
  &-mobile {

    .ant-layout {
      &-footer {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }

      &-content {
        padding: 0;

      }
    }

    .layoutContent {
      .ant-layout-content {
        padding: 0 1rem;
        min-height: 280px;
      }
    }
  }

  &-padding-both {
    padding: 0 12%;
  }

  &-padding-left {
    padding-left: 15%;
  }

  &-padding-right {
    padding-right: 15%;
  }
}

#components-layout-demo-top-side .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.container {
  padding: '0 50px';
}

.mobileBlock {
  width: 100%;
  .logo {
    width: fit-content;
    display: block;
    margin: 0 auto;
    .ant-image {
      &-img{
        width: 80px;
      }
    }
  }
}