.aboutUs {
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .historyBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    .history {
      width: 40%;
      ul {
        list-style: disc;
        padding-left: 20px;
      }
    }
    .description {
      width: 60%;
      font-size: 14px;
      div {
        margin-bottom: 10px;
      }
      ul {
        padding-left: 20px;
        margin-bottom: 10px;
      }
    }
    ul {
      list-style: inherit;
      li {
        line-height: 24px;
      }
    }
  }

  .visionBlock {
    display: flex;
    flex-direction: row;
    .companyInfo {
      width: 40%;
      border: none;
  
      .icon {
        color: #E5704B;
        font-weight: bold;
        padding-right: 10px;
      }

      .ant-card-body {
        padding-top: 0;
      }
    }
    .visionInfo {
      width: 60%;

      .cooperation {
        ul {
          font-size: 14px;
          list-style: disc;
          padding-left: 20px;
          li {
            line-height: 24px;
          }
        }
      }
    }
  }

  &-mobile {
    .historyBlock {
      flex-wrap: wrap;
      .history {
        width: 100%;
      }

      .description {
        width: 100%;
      }
    }

    .visionBlock {
      flex-wrap: wrap;
      .companyInfo {
        width: 100%;
      }
      .visionInfo {
        width: 100%;

        .visionComponent {
          height: unset;
          justify-content: flex-start;
          
          .item {
            .itemIcon {
              font-size: 50px;
            }

            .itemInfo {
              .title {
                margin-bottom: unset;
              }
            }
          }

        }
      }
    }
  }
  

  
}
