.led-light {
  .banner {
    display: flex;
    justify-content: center;
    
    .ant-image {
      width: 50%;
    }
  }
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}