.led-light {
  .banner {
    display: flex;
    justify-content: center;

    .ant-image {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      &-img {
        // object-fit: cover;
      }
    }
  }
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .search {
    width: 40%;
    margin: 2rem auto;
    display: flex;
  }
  .pageTitle {
    font-size: 24px;
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
  }
  .categories{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  &-mobile {
    // width: 48%;
    .pageTitle {
      font-size: 18px;
    }
    .search {
      width: 100%;
    }
    .categories {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: unset;
      justify-content: unset;
      gap: 5px;

      &-item {
        width: 48%;
      }
    }
  }
}