.focusingBlog {
  .focusingItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    .itemImage {
      margin-right: 2%;

      &:last-child {
        margin-right: unset;
      }

      .ant-image {
        height: 300px;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .ant-image-img {
          object-fit: cover;
          width: 400px;
        }
      }
    }
    .itemBlog {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item {
        display: flex;
        flex-direction: row;

        .itemIcon {
          font-size: 70px;
          margin-right: 10px;
          color: #ff7043;
        }
        .itemInfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .title {
            font-size: 18px;
            text-transform: uppercase;
          }
          .content {
            font-size: 14px;
            color: #777777;
          }
        }
      }
    }
  }

  &-mobile {
    .focusingItem {
      width: 100%;
      justify-content: space-between;

      .itemImage {
        display: none;
      }

      .itemBlog {
        width: 100%;
        .item {
          justify-content: center;
          margin-bottom: 2rem;
          .itemIcon {
            font-size: 38px;
            display: flex;
            justify-content: flex-start;
          }
          .itemInfo {
            width: 100%;
            .title {
              font-size: 14px;
            }
            .content {
              font-size: 12px;
            }
          }
        }
      }
    }

    &-landscape {
      .focusingItem {
        .itemBlog {
          display: flex;
          flex-direction: row !important;
          width: 100%;
          .item {
            width: 50%;

            .itemInfo {
              // width: 83% !important;
              justify-content: space-around !important;
            }
          }
        }
      }
    }
  }
}
