.product {
  width: 100%;
  padding: 3% 0;
  .header {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .productBlock {
    width: 100%;
    overflow-y: auto;
    height: 460px;
    position: relative;
    .marquee-text {
      // min-width: fit-content;
      .marquee {
        // min-width: fit-content;
      }
    }
    // .animationProductBlock {
    //   display: flex;
    //   flex-direction: row;

    //   animation: scroll 25s linear 1s infinite;
    //   @keyframes scroll {
    //     100% {
    //       // transform: translateX(-202%);
    //       transform: translateX(-62%);
    //     }
    //   }
    //   &:hover {
    //     animation-play-state: paused;
    //   }
    //   // animation-play-state: paused;
    // }
  }

  // &-mobile {
  //   .header {
  //     font-size: 18px;
  //   }

  //   &-portrait {
  //     .productBlock {
  //       .animationProductBlock {
  //         @keyframes scroll {
  //           100% {
  //             transform: translateX(-504%);
  //           }
  //         }
  //       }
  //     }
  //   }

  //   &-landscape {
  //     .productBlock {
  //       .animationProductBlock {
  //         @keyframes scroll {
  //           100% {
  //             transform: translateX(-330%);
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
