.supportMenu {
  min-width: 220px;
  .ant-card {
    background-color: transparent;
    .ant-card-head {
      padding-left: 0;
      padding-right: 0;

      .ant-card-head-title {
        font-size: 20px;
        font-weight: 600;
        padding-top: 0;
      }
    }

    .ant-card-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .supportItem {
    margin-bottom: 10px;
    .supportPhone {
      font-size: 24px;
      color: #E5704B;
      text-align: center;
      letter-spacing: 2px;
      .iconShake {
        color: initial;
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        scale: 0.8;
      }
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
    }

    .supportName {
      font-weight: 600;
      color: #E5704B;
    }

    .supportTitle {

    }
  }
}