.electrical-cable {
  .banner {
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;

    .ant-image {
      // width: inherit;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
    }
  }
  .ant-spin-container {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .search {
    width: 40%;
    margin: 2rem auto;
    display: flex;
  }
  .pageTitle {
    font-size: 24px;
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
  }
  .categories{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  &-mobile {
    // width: 48%;
    .pageTitle {
      font-size: 18px;
    }
    .search {
      width: 100%;
    }
    .categories {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: unset;

      &-item {
        width: 48%;
      }
    }
  }
}
