.electrical-cable {
  .banner {
    display: flex;
    justify-content: center;
    .ant-image {
      width: 50%;
    }
  }
  .electrical-cables {

    .ant-spin-container {
      width: 100%;
      justify-content: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
