.banner {
  height: 350px;
  position: relative;

  &-mobile {
    height: auto;
  }

  .ant-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
  }
}