.popup-menu {
  width: 100%;
  
  .ant-modal {
    &-body {
      display: flex;
      flex-direction: row;

      .ant-space {
        width: 100%;
      }
    }

    &-content {
      background-color: transparent;
    }
  }

  .leftBlock {
    img {
      width: 300px;
      height: 300px;
    }
  }

  .rightBlock {
    display: flex;
    flex-direction: column;
    
    img {
      width: 50px;
    }
  }
}
