.rightMenu {
  float: right;
  display: block;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: flex-end;
  flex: 1;
  .userDropDown {
    margin-right: 10px;
    height: 64px;
  }
  .ant-menu-horizontal {
    border-bottom: none;
  }
  .hotLine {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    width: 150px;
  }
}