.construction{
  height: 450px;
  background-color: #FF7043;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  .icon {
    font-size: 90px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .subTitle {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .button {
    color: #fff;
    border-radius: 4px;
    background-color: #FF7043;
    border: 1px solid #fff;
    margin: 0 auto;
  }
}