.productItem {
  display: flex;
  flex-direction: column;
  border: unset;
  width: 30%;
  padding: 10px;
  width: 300px;
  flex: 1;
  border: 1px solid transparent;

  &:hover {
    opacity: 80%;

    .image {
      img {
        transform: scale(1.1);
      }
    }
  }

  .image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    img {
      transition: all .2s ease-in-out;
      width: 110%;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 300px;
    margin: 0 auto;
    
    .information {
      margin-bottom: 10px;
      position: relative;
      .title {
        font-size: 14px;
        color: #151515;
        // max-width: 290px;
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .description {
        font-size: 13px;
        color: #575757;
        width: 100%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .rate {
        .ant-rate {
          color: #151515;
        }
      }
    }

    .bottomSide {
      flex-direction: row;
      display: flex;
      .price {
        flex: 1;
        font-size: 14px;
        font-weight: bold;
      }
      .action {
        flex-direction: column;
        display: flex;

        .detailButton {
          margin-bottom: 10px;
          font-size: 12px;
        }

        .favouriteButton {
        }
      }
    }
  }

  &-mobile {
    &-landscape {
      width: 33%;
    }
    &-portrait {
      width: 50%;
    }
    .content {
      width: 100%;
      padding: 1rem;
      margin: unset;

      .information {
        margin-bottom: 1rem;

        .title {
          font-size: 14px;
        }

        .description {
          font-size: 12px;
        }
      }
    }
  }
}