.faq {
  // height: 846px;
  background-color: #EFEFEF;
  padding: 5% 0;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5%;
  }

  .questionBlock {
    display: flex;
    flex-direction: column;
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .item {
        height: 150px;
        width: 40%;
        .question {
          color: #000;
          font-size: 16px;
        }
    
        .answer {
          color: #777777;
          font-size: 14px;
          // width: 50%;
        }
      } 
    }
  }

  .link {
    // padding: 10%;
    font-size: 14px;
    text-align: center;
    .button {
      color: #FF7043;
      background-color: unset;
    }
  }
}