.faq {
  background-color: #EFEFEF;
  padding: 1.5% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.5%;
    text-transform: uppercase;
  }
  .questionBlock {
    display: flex;
    flex-direction: column;

    .ant-collapse {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
      .ant-collapse-item {
        width: 50%;
      }
    }
  }

  .link {
    font-size: 14px;
    text-align: center;
    .button {
      color: #FF7043;
      background-color: unset;
    }
  }

  &-mobile {
    height: fit-content;

    .title {
      font-size: 18px;
    }

    .questionBlock {
      
      .ant-collapse {
        margin-bottom: 1rem;
        .ant-collapse-item {
          width: 100%;

          .ant-collapse-header-text {
            font-size: 12px;
          }
        }
        .ant-collapse-content-box {
          font-size: 12px;
        }
      }
    }
  }
}