.certs{
  display: flex;
  justify-content: center;
  flex: 1;
  .bocongthuong {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cert {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-mobile {
    scale: 0.8;
  }
}