.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  .customerInfo {
    flex: 1 1 auto;
  }
  .title {
    font-size: 24px;
  }

  .companyInfo {
    width: 40%;
    border: none;

    .icon {
      color: #e5704b;
      font-weight: bold;
      padding-right: 10px;
    }
  }

  &-mobile {
    .title {
      font-size: 18px;
    }

    .companyInfo {
      width: 100%;

      .ant-card-body {
        padding: 0;
      }
    }
  }
}
